<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="34" />
    <uses-permission android:name="android.permission.INTERNET" />





    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="Invoice App"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"

        android:theme="@style/Theme.Bill"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.bill.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.bill.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>



        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity android:name=".RegisterActivity">
            <!-- Add any necessary intent filters or other configurations here -->
        </activity>

        <activity android:name=".PurchaseshowActivity">
            <!-- Add any necessary intent filters or other configurations here -->
        </activity>


        <activity android:name=".FrontActivity">
            android:theme="@style/MenuItemsTheme">

            <!-- Add any necessary intent filters or other configurations here -->
        </activity>

        <activity android:name=".ForgotPasswordActivity">
            <!-- Add any necessary intent filters or other configurations here -->
        </activity>

        <activity android:name=".ItemAddActivity">
            <!-- Add any necessary intent filters or other configurations here -->
        </activity>

        <activity android:name=".ClientAddActivity">
            <!-- Add any necessary intent filters or other configurations here -->
        </activity>


        <activity android:name=".SaleInvoiceActivity">
            <!-- Add any necessary intent filters or other configurations here -->
        </activity>

        <activity android:name=".PurchaseInvoiceActivity">
            <!-- Add any necessary intent filters or other configurations here -->
        </activity>

        <activity android:name=".Pnew_activity">
            <!-- Add any necessary intent filters or other configurations here -->
        </activity>

        <activity android:name=".DataShowActivity">



        </activity>
        <activity android:name=".HomeActivity" />



        <activity android:name=".PaymentActivity">
            <!-- Add any necessary intent filters or other configurations here -->
        </activity>



        <activity android:name=".ProfileActivity">
            <!-- Add any necessary intent filters or other configurations here -->
        </activity>

        <activity android:name=".PaymentShowActivity">
            <!-- Add any necessary intent filters or other configurations here -->
        </activity>

        <activity android:name=".SaleshowAcitvity">
            <!-- Add any necessary intent filters or other configurations here -->
        </activity>

        <activity android:name=".ItemShowActivity">
            <!-- Add any necessary intent filters or other configurations here -->
        </activity>

        <activity android:name=".NewActivity">
            <!-- Add any necessary intent filters or other configurations here -->
        </activity>


        <activity android:name=".view_activity"></activity>




    </application>



</manifest>
